#alarm table {
	width: 100%;
}

#alarm .title {
	width: 100%;
	text-align: center;
	margin-bottom: 0.5em;
}

#alarm td.status {
	width: 60%;
	text-align: center;
	vertical-align: top;
}

#alarm td.openings {
	vertical-align: top;
}

#alarm_status {
	height: 10vh;
	cursor: pointer;
}

#alarm_status_detail {
	padding-bottom: 0.5em;
}

#all_alarm_elements img {
	height: 1.5em;
}

#all_alarm_elements .name {
	line-height: initial;
}

#all_openings div {
	display: inline-block;
	vertical-align: top;
	height: 1.5em;
}

#all_openings img {
	height: 1.5em;
}

#alarm_keypad {
	display: none;
	position: absolute;
	top: 17vh;
	width: 86%;
}

#alarm_keypad .key {
	line-height: 4em;
	width: 33%;
	text-align: center;
	color: white;
	background-color: black;
	border: 5px solid white;
	cursor: pointer;
}

#alarm_keypad .key:hover {
	background-color: dimgray;
}
