@charset "utf-8";

@font-face {
	font-family: "Roboto";
	font-style: normal;
	font-weight: normal;
	src: local("Roboto Thin"), url("../font/roboto.woff") format("woff");
}

@font-face {
	font-family: "Roboto Condensed";
	font-style: normal;
	font-weight: normal;
	src: local("Roboto Condensed Thin"), url("../font/roboto-condensed.woff") format("woff");
}

@font-face {
	font-family: "PF Tempesta Seven";
	font-style: normal;
	font-weight: normal;
	src: local("PF Tempesta Seven"), url("../font/pf-tempesta-seven.woff") format("woff");
}

@font-face {
	font-family: "Wingdings 3";
	font-style: normal;
	font-weight: normal;
	src: local("Wingdings 3"), url("../font/wingdings-3.woff") format("woff");
}

body {
	font-family: "Roboto";
	font-size: 3.2vh;
	line-height: 5.7vh;
	padding: 0 5vw;
}

@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
	body {
		line-height: 5vh;
	}
}

hr {
	border-top: 1px solid gray;
	margin: 3vh 0;
}

th {
	font-weight: normal;
}

.name {
	font-family: "Roboto Condensed";
}

.digits {
	font-family: "PF Tempesta Seven";
	padding-bottom: 1vh;
}

.refresh_time {
	font-size: 0.5em;
	line-height: 2.5em;
	width: 100%;
	text-align: center;
	color: dimgray;
}

.refresh_time::before {
	font-family: "Wingdings 3";
	content: "Q"; /* ↺ */
	padding-right: 1vw;
}
