#weather table {
	width: 100%;
	text-align: center;
}

#weather td {
	vertical-align: top;
}

#weather .title {
	margin-bottom: 0.3em;
}

#weather .minimum {
	color: darkgray;
}

#weather .minimum::before {
	content: " / ";
}

/* Today */

#weather .today {
	width: 50%;
}

#weather .today img {
	display: block;
	margin: 0 auto 0.25em auto;
	height: 25vh;
}

@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
	#weather .today img {
		height: 20vh;
	}
}

#weather .today .description {
	font-size: 0.8em;
}

/* Forecast */

#weather .forecast {
	width: 50%;
}

#weather .forecast .row {
	line-height: 1.4em;
}

@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
	#weather .forecast .row {
		line-height: 1.6em;
	}
}

#weather .forecast img {
	height: 1em;
	margin-bottom: -0.2em;
}

#weather .forecast .day {
	display: inline-block;
	text-align: center;
	width: 2.5em;
}

#weather .forecast .digits {
	display: inline-block;
	text-align: center;
	width: 5em;
}
